{:deps {net.cgrand/macrovich {:mvn/version "0.2.2"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["dev"]}

  :cljd
  {:extra-deps
   {tensegritics/clojuredart
    {:git/url "https://github.com/tensegritics/ClojureDart.git"
       :sha "ae1b485e84ccc35b122f776dfc7cc62198274701"}}}

  :clj-1-9
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.9.0"}
    org.clojure/clojurescript {:mvn/version "1.9.293"}}}

  :clj-1-10
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.10.3"}
    org.clojure/clojurescript {:mvn/version "1.10.914"}}}

  :clj-1-11
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :test
  {:extra-paths ["test"]}

  :kaocha
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.69.1069"}}
   :main-opts ["-m" "kaocha.runner"]}

  :cljs-test-runner
  {:extra-paths ["test"]
   :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
   :main-opts ["-m" "cljs-test-runner.main"]}

  :build
  {:paths ["."]
   :deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
   :ns-default build}}}
