{:deps {net.cgrand/macrovich {:mvn/version "0.2.1"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["dev"]}

  :clj-1-9
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.9.0"}
    org.clojure/clojurescript {:mvn/version "1.9.293"}}}

  :clj-1-10
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.10.3"}
    org.clojure/clojurescript {:mvn/version "1.10.914"}}}

  :clj-1-11
  {:extra-deps
   {org.clojure/clojure {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.60"}}}

  :test
  {:extra-paths ["test"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.69.1069"}}
   :main-opts ["-m" "kaocha.runner"]}}}
